<h2><%= @player.name %>'s Stats</h2>
<h3>Personal Best</h3>
<p><%=  @player.games.where(winner: @player.id).order("winner_time asc").limit(1).first.winner_time.to_f/1000%>Seconds</p>
<h3>Total Games</h3>
<p><%= @player.games.count %></p>
<h3>Lifetime wins</h3>
<p><%= @player.games.where(winner: @player.id).count %></p>
<table>
  
  

</table>
