<h1><%= @player.name %>'s Stats</h1>
<h2>Personal Best</h2>
<p><%=  @player.games.where(winner: @player.id).order("winner_time asc").limit(1).first.winner_time.to_f/1000%>Seconds</p>
<h2>Lifetime wins</h2>
<table>
  <tr>
    <th>Game date</th> <th>Time</th>
  </tr>
  

</table>
